.album {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  background-color: #00c2c1;
  padding: 32px;
  border-radius: 12px;
  height: fit-content;
  min-width: 360px;
}

.album-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}