.gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 2;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.gallery-card {
  max-width: 180px;
  border-radius: 12px;
}

@media (max-width: 1024px) {
  .gallery {
    max-height: 558px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
}

@media (max-width: 540px) {
  .gallery-card {
    max-width: 160px;
    border-radius: 8px;
  }
}